
<div class="page-container">
  
    <div class="condolence-box">
  
      <p>We are deeply sorry to hear about the loss. Please accept our sincere condolences during this difficult time.</p>
  
      <p>Kindly come to our office with the following documents to avail your claim.</p>
  
     
  
    </div>
  
   
  
    <button [routerLink]="['/claim-dash']" >Dashboard</button>
  
    <div class="claims">
  
      <ul>
  
        <li>Recent photograph of the claimant</li>
  
        <li>Pan card/form 60 of the claimant</li>
  
        <li>Original policy document</li>
  
        <li>Copy of Death Certificate issued by local authority</li>
  
        <li>Claimant's current address proof</li>
  
        <li>Claimant's photo identity proof</li>
  
        <li>Cancelled cheque/copy of bank passbook</li>
  
        <li>Copy of Medico Legal cause of Death Certificate</li>
  
      </ul>
  
    </div>
  
  </div>
